[Unit]
Description=YaizuSample!!
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/sample
ExecStop=/usr/bin/stopsample sample.conf /usr/bin/sample
KillMode=process

[Install]
WantedBy=multi-user.target

