[Unit]
Description=YaizuSample!!
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/sample
ExecStop=/usr/bin/samplestop sample.conf

[Install]
WantedBy=multi-user.target

