[Unit]
Description=SERVAL
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/serval
ExecStop=/usr/bin/stopsample sample.conf /usr/bin/serval
KillMode=process

[Install]
WantedBy=multi-user.target
