
body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: #000000;
	background-color: #808080;
	font-family:sans-serif;
	font-size: 14px;
}

a:link {
	color: #7F0000;
	font-weight: bold;
}
a:visited {
	color: #7F0000;
	font-weight: bold;
}
a:hover {
	color: #7F0000;
	font-weight: bold;
}
a:active {
	color: #7F0000;
	font-weight: bold;
}

#container{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 400px;
	height: 420px;
	background-color: #E0E0E0;
}

#box_info {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width:400px;
	height: 400px;
	text-align: left;
	font-size: 13px;
	float:left;
	background-color: #E0E0E0;
}

.headtailbar {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 20px;
	font-size: 16px;
	color:#ffffff;
	background-color: #6699cc;
	clear:left;
}

table.ttblstyle{
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
}

.ttblstyle th{
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	padding:2px 2px 2px 2px;
	font-size: 13px;
	color:#ffffff;
	background-color: #6699cc;
}

.ttblstyle td{
	border:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-size: 14px;
	color:#ffffff;
}

