[Unit]
Description=YaizuSampleAgent!!
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/agent
KillMode=process

[Install]
WantedBy=multi-user.target

