[Unit]
Description=YaizuSampleAgent!!
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/agent 192.168.0.5 8080
KillMode=process

[Install]
WantedBy=multi-user.target

