[Unit]
Description=SERVAL agent
After=network.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/bin/servalagt
KillMode=process

[Install]
WantedBy=multi-user.target
